@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Noto Sans",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }


/* header */
header{
  position: relative;
  height:50px;
}
header img{
  position: absolute;
  top:10px; left: 8px;
  width: 100px;
  height: 30px;
}
header a{
  position: absolute;
  right: 8px; top: 15px;
}

/* mian-img */
.main{
  margin: 0 10px;
}
.main img:first-child{
  margin-top: 18px;
  width: 100%;
  position: relative;
}
.main h2{
  position: absolute;
  top: 15%; left: 10%;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.main .img{
  position: relative;
  top:-30px; left: 50%;
  transform: translateX(-50%);
}

/* Vision */
.vision{
  margin: 0 10px;
}
.vision h2{
  font-weight: 600;
  font-size: 17px;
}
.vision p{
  color: #FC6736;
  font-size: 10px;
  margin-bottom: 15px;
  font-weight: 400;
}

.vision .vision-menu li{
  color: #B8BFC6;
  padding: 15px 115px;
  text-align: center;
  /* border: 1px solid #000; */
  border-radius: 21px;
  background-color: #F8F9FA;
  margin-bottom: 7px;
  font-weight: 700;
}
.vision .vision-menu li:last-child{
  background-color: #011F6B;
  color: #fff;
}
.vision .img2{
  margin-top: 25px;
  margin-bottom: 60px;
  width: 100%;
}

/* Retained equipment */
.retained{
  background-color: #EFEFEF;
  height: 1100px;
}
.retained h2{
  font-size: 17px;
}
.retained .title{
  color: #FC6736;
  font-size: 10px;
  font-weight: 400;
  padding: 42px 0 15px 0;
}
.retained .equipment{
  margin: 0 10px;
}
.retained .box{
  margin: 0 10px;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 15px;
  height: 145px;
  position: relative;
}
.retained .box1{
  margin-top: 30px;
  height: 170px;
}
.retained .box li img{
 position: absolute; top:30px; left: 35px;
}
.retained .box li p{
 margin: 0 30%;
 width: 50%;
 padding-top: 20px;
 color: #6C757D;
 font-weight: 400;
 font-size: 12px;
}
.retained .box .p{
  font-weight: 700;
  color: #000;
  font-size: 15px;
}
.retained .box6{
  background-color: #011F6B;
  height: 170px;
}
.retained .box6 li p{
  color: #E4EAF0;
}
.retained .box6 .p{
  color: #E4EAF0;
}

/* Company introduction */
.company{
  margin: 0  10px;
  position: relative;
}
.company p{
  color: #FC6736;
  font-size: 10px;
  font-weight: 400;
  margin-top: 65px;
  margin-bottom: 10px;
}
.company h2{
 font-size: 20px;
 margin-bottom: 30px;
}

.company .car{
  width: 100%;
}
.company .slide1{
  position: absolute;
  top: 50%; right: 5%;
  width: 90%;
}
.company .slide2{
  margin-top: 35px;
  position: absolute;
  left: 50%; top: 100%;
  transform: translateX(-50%);
}

/* Korea R&D */
.korea{
  margin: 70px 0;
}
.korea .color p{
  color: #FC6736;
  font-size: 10px;
  font-weight: 400;
  padding: 100px 0 10px 0;
}
.korea .color h2{
  margin-bottom: 10px;
}
.korea .color{
  margin: 0 10px;
  background-color: #011F6B;
  height: 354px;
  border-radius: 56px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  position: relative;
}
.korea .color::after, .korea .color::before{
  content: "";
  height: 180px;
  width: 65px;
  background-color: #fff;
  position: absolute;
  z-index: -99;
}
.korea .color::after{
  right: -10px; top: 0;
}
.korea .color::before{
  left: -10px; top: 0;
}
.korea .color .btn{
  font-size: 13px;
  border: 1px solid #fff;
  padding: 10px 45px;
}
.korea .menu{
  background-color: #EFEFEF;
  position: relative;
  z-index: 9999;
}
.menu-box1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin: 50px 20px;
  padding-bottom: 30px;
}
.menu-box1 .ul1, .menu-box1 .ul3{
 border-right: 1px solid #DEE2E6;
 border-bottom: 1px solid #DEE2E6;
}
.menu-box1 .ul3{
  border-bottom: none;
}
.menu-box1 .ul2{
  border-bottom: 1px solid #DEE2E6;
}

.menu-box li:nth-child(1){
  font-size: 13px;
  font-weight: 600;
}
.ul4 li:nth-child(1), .ul3 li:nth-child(1){
  padding-top: 40px;
}
.menu-box{
  padding-bottom: 50px;
}
.menu-box li:nth-child(2){
  margin-top: 10px;
  font-size: 10px;
  color: #999999;
}
.menu-box li:nth-child(3){
  color: #FC6736;
  font-size: 20px;
  font-weight: 800;
  margin-top: 5px;
}

/* Business sector */
.business{
  margin: 0 10px;
  position: relative;
}
.business h2{
  font-size: 20px;
  font-weight: 600;
}
.business span{
  color: #ADB5BF;
  position: absolute;
  top: 0; right: 0;
}
.business .list{
  font-size: 12px;
  margin-top: 33px;
  margin-bottom: 40px;
}
.business .list li:first-child{
  border-top: 1px solid #DEE2E6;
}
.business .list li{
  border-bottom: 1px solid #DEE2E6;
  padding: 10px 15px;
  font-weight: 600;
}

/* add */
.add{
  margin: 0 10px;
  position: relative;
}
.add h2{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}
.add span{
  color: #ADB5BF;
  position: absolute;
  top: 0; right: 0;
}
.img-box img{
  width: 100%;
}
.img-box li{
  font-size: 12px;
  font-weight: 500;
}
.img-box li:nth-child(even){
  margin: 10px 0 30px 0;
}

/* Direction guidance */
.direction1{
  margin: 0 10px;
}
.direction p{
  color: #FC6736;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 10px;
}
.direction h2{
  font-weight: 600;
  font-size: 20px;
}
.location-kakao{
  margin-top: 40px;
}
.location-kakao #map{
  height: 357px;
  border-radius: 30px;
  margin: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.direction .map{
  background-color: #EFEFEF;
  position: relative;
  z-index: 9999;
}

.direction .map::after, .direction .map::before{
  content: "";
  height: 180px;
  width: 65px;
  background-color: #fff;
  position: absolute;
  z-index: -999;
}
.direction .map::after{
  top: 0; right: 0;
}
.direction .map::before{
  left: 0;
}
.address{
  margin: 70px 10px;
  padding-bottom: 60px;
}
.direction .address{
  font-size: 13px;
}
.direction .address li{
  padding: 13px 0;
}
.direction .address li:nth-child(odd){
  font-weight: 600;
}
.direction .address li:nth-child(even){
  color: #999;
}

/* ask */
.ask{
  margin: 0 10px;
}
.ask p:nth-child(1){
  color: #FC6736;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.ask h2{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 50px;
}
.ask p{
  font-size: 14px;
  font-weight: 500;
 
}
.ask-box{
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(3, 1fr);
}
.ask-box h3{
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 8px;
}
.ask-box .h3{
  grid-column: 2 / 3;
  grid-row: 1 / 1;
}
.ask-box #Tel{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.ask-box #user_name{
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.ask-box input{
  border: none;
  background-color: #F3F3F3;
  height: 39px;
  width: 90%;
}

.contact h3{
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 8px;
}
.contact #textBox{
  border: none;
  background-color: #F3F3F3;
  height: 113px;
  width: 100%;
  margin-bottom: 13px;
}
.contact #File{
  font-size: 12px;
}

/* gain */
.gain{
  margin: 40px 10px;
  font-size: 12px;
  font-weight: 300;
}
.gain #Checkbox{
  margin-left: 50px;
  margin-right: 5px;
  width: 10px; height: 10px;
}
.gain p{
  margin-left: 60px;
  color: #7F7F7F;
  margin-top: 10px;
}
.gain #Submit{
  border: none;
  background-color: #212529;
  width: 100%; height: 45px;
  color: #fff;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 500;
}

/* footer */
footer{
 background-color: #212529;
 color: #7F7F7F;
 text-align: center;
 padding: 20px;
 font-size: 10px;
 font-weight: 400;
}
footer address{
  padding-top: 10px;
  font-style: normal;
  margin-bottom: 15px
}
